<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scents Quiz</title>
</head>
<body>
      <h1>Suggested scents: </h1>
      <p><%=suggestions%></p>
      <h1>Preferred when to wear: </h1>
      <p><%=time%></p>
      <h1>Preferred season to wear:</h1>
      <p><%=season%></p>
      <h1>Preferred scent strength: </h1>
      <p><%=scentStrength%></p>
      <h1>Preferred scent mood: </h1>
      <p><%=scentMood%></p>
      <h1>Preferred scent style:</h1>
      <p><%=scentStyles%></p>
</body>
</html>